test/
main/Schematics/openTestResult.schem
main/Schematics/ssTest.schem
main/Schematics/tanTest.schem
__pycache__/
main/__pycache__/
main/SchemGenerator/__pycache__
main/SchemGenerator/nbt/__pycache__/
